@import "bootstrap/dist/css/bootstrap.min.css";

body{
  background-color: #c5dde4; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1{
    padding: 20px;
}

#box{
  width: 300px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background: #f5f5f5;
}

#domain{
  font-size: 18px;
  margin-bottom: 15px;
}

#nextBtn{
border-radius: 10px;
border: 2px solid black;
}