@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: #c5dde4; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
